#diagramContainer {
    padding: 20px;
    width:80%; height: 200px;
    border: 1px solid gray;
}

// .item {
//     height:80px; width: 80px;
//     border: 1px solid blue;
//     box-sizing: border-box;
//     padding: 10px;
//     position: absolute;
//   }

        .item {
            position: absolute;
            height:80px; width: 80px;
            border: 1px solid blue;
        }

.textCard {
    border: none;
    background: transparent;
    outline: 0;
}


body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}
